<section class="home">
  <h2>Bem vindo :)</h2>

  <div class="home__card">
    <div class="home__image">
        <img src="../../../assets/icons/b1ff7d9c6b852405d9f7dcce42362775.jpg" alt="Book" />
      </div>
    <p>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui eos unde dolorem hic deserunt iusto accusantium accusamus minima architecto enim consectetur, eligendi quis vero voluptas esse id? Blanditiis, vero debitis.
    </p>
    <div class="home__header">
      <img src="../../../assets/icons/Heart-hand-shake.svg" alt="Like" />
      <img src="../../../assets/icons/close-circle.svg" alt="Close" />
    </div>
  </div>

  <button class="home__button-go-registry" (click)="navigateToRegistry()">
    Venha se cadastrar 
  </button>
</section>
