<section class="home">
  <h2>Bem vindo :)</h2>

  <div class="home__card">
    <div class="home__header">
        <img src="../../../assets/icons/Heart-hand-shake.svg" alt="Like">
        <img src="../../../assets/icons/close-circle.svg" alt="Close">
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus odio
      assumenda ipsum reprehenderit totam rem aliquid temporibus ut sint ab
      placeat atque porro praesentium, ullam eaque obcaecati cupiditate unde
      laborum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet repudiandae veritatis quasi amet non, maxime molestiae voluptatem recusandae saepe dignissimos reiciendis, beatae dolor laborum quo? Sunt, officia. Adipisci sunt doloribus, quod dolore, accusamus, dignissimos porro ab sit in nemo saepe nobis? Corrupti dicta officia voluptatum obcaecati sed perferendis modi architecto voluptas, pariatur cum, saepe necessitatibus totam incidunt sequi voluptates consequuntur facere aut enim quia laborum. Impedit voluptate aut hic sit quo unde perspiciatis eum libero? Itaque voluptatem soluta maiores culpa, consequatur harum adipisci asperiores laudantium suscipit, quisquam vitae? Dolorum odit praesentium facere recusandae dicta nesciunt vero id magni? Eum, provident?
    </p>
  </div>

  <button class="home__button-go-registry" (click)="navigateToRegistry()">
    cadastro
  </button>
</section>
