@import "./assets/styles/colors.scss";

@font-face {
    font-family: 'Reddit Mono';
    src: url('./assets/fonts/RedditMono-VariableFont_wght.ttf') format('truetype');
  }

  body {
    font-family: 'Reddit Mono', monospace;
    background-color: $background-host;
  }